name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install Arturo
        uses: arturo-lang/setup-arturo@v2
        with: 
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Unitt testing framework
        run: arturo -p install unitt 3.0.0

      - name: Verify all exercises
        run: bin/verify-exercises
